// Colors
$white            : #FFFFFF;
$primary          : #6688FF;
$green            : #2CBE82;
$red              : #DA2B40;
$dark-red         : #98031E;
$text-color       : #333333;
$input-text-color : #3B3E45;
$gray             : #666E7D;

// Weekdays colors
$monday     : #FFA246;
$tuesday    : #35E185;
$wednesday  : #6688FF;
$thursday   : #B266FF;
$friday     : #66D1FF;
$saturday   : #FF66D4;
$sunday     : #FF6666;

// Conflict colors
$conflict       : #F55D5D;
$conflict-line  : #FF6D6D;

// Scrollbar colors
$scrollbar  : #DCDFE3;
$scroll-bg  : #FFFFFF;

// Colors on Hover
$green-hover      : #26A671;
$red-hover        : #BF2638;
$scrollbar-hover  : #C3C6C9;

// Colors on focus
$scrollbar-focus  : #9EA0A3;

// Fonts
$poppins        : 'Poppins', sans-serif;
$nunito         : 'Nunito', sans-serif;
$noto-sans      : 'Noto Sans', sans-serif;