.select {
  position: relative;

  &__field {
    padding: 0.75rem;

    border-radius: 10px;
    border: 1px solid $green;

    box-sizing: border-box;
    cursor: pointer;
  }

  &--weekday {
    width: 210px;
  }

  &--time {
    .select__field {
      display: flex;
      align-items: center;
    }
  }

  &__text {
    @include text-style($poppins, 0.875rem, $input-text-color, 400, 1.25rem);

    &--time {
      border: none;
      padding: 0;
      margin: 0;
      margin-left: 2px;
      background-color: transparent;
      width: 2ch;
      outline: none;
    }
  }

  &__icon {
    font-size: 0.75rem;
    color: $gray;
    margin-left: 8px;
  }

  &__options {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;

    min-width: 100%;
    margin-top: 8px;
    padding: 0.5rem 0;

    background-color: $white;

    border: 1px solid $green;
    border-radius: 10px;

    box-sizing: border-box;

    &--time {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      left: 50%;
      transform: translateX(-50%);
    }

    &--hidden {
      display: none;
    }
  }

  &__item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: $light-gray;
    }
  }
}